h1 {
    color:red;
}

.balloon2-left {
  position: relative;
  display: inline-block;
  margin: 1.5em 0 1.5em 15px;
  padding: 7px 10px;
  min-width: 120px;
  max-width: 100%;
  left: 200px;
  color: #1a2673;
  font-size: 16px;
  background: #FFF;
  border: solid 3px #1a2673;
  box-sizing: border-box;
}

.balloon2-left:before {
  content: "";
  position: absolute;
  top: 50%;
  left: -24px;
  margin-top: -12px;
  border: 12px solid transparent;
  border-right: 12px solid #FFF;
  z-index: 2;
}

.balloon2-left:after {
  content: "";
  position: absolute;
  top: 50%;
  left: -30px;
  margin-top: -14px;
  border: 14px solid transparent;
  border-right: 14px solid #1a2673;
  z-index: 1;
}



.balloon2-left p {
  margin: 0;
  padding: 0;
  color: #1a2673;
}

.balloon2-right {
  position: relative;
  display: inline-block;
  margin: 1.5em 15px 1.5em 0;
  padding: 7px 10px;
  min-width: 120px;
  max-width: 100%;

  color:#ff914d;
  font-size: 16px;
  background: #FFF;
  border: solid 3px #ff914d;
  box-sizing: border-box;
}

.balloon2-right:before {
  content: "";
  position: absolute;
  top: 50%;
  right: -24px;
  margin-top: -12px;
  border: 12px solid transparent;
  border-left: 12px solid #FFF;
  z-index: 2;
}

.balloon2-right:after {
  content: "";
  position: absolute;
  top: 50%;
  right: -30px;
  margin-top: -14px;
  border: 14px solid transparent;
  border-left: 14px solid #ff914d;
  z-index: 1;
}

.balloon2-right p {
  margin: 0;
  padding: 0;
  color: #ff914d;
}



.outer{
  text-align: center;
}
.inner{
  display: inline-block;
  text-align: left;
  width: 39%;
}

.point{
  color: red;
}

.y_i{
  float: left;
}

.fb{
  clear: both;
}

.x_i{
  float: right;
}

.info{
  top:10px;
}

strong {
  color: rgb(0, 168, 247);
  font-size: 25px;
  font-weight: normal;
  
}